[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
click = "*"
flask = "*"
flask-cors = "*"
alembic = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
typing-extensions = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
